<div
  class="bg-white border border-gray-200 cursor-pointer p-4 pt-1 rounded-lg shadow-sm hover:border-black"
  [class]="formServices.selectedField()?.id === field().id ? 'border-black' : '' "
  (click)="formServices.setSelectedField(field().id)">
  <div class="flex items-center justify-between mb-1">
    <span class="text-sm"> {{ field().type | titlecase }}</span>
    <button mat-icon-button (click)="deleteField($event)">
      <mat-icon color="-mr-2">delete</mat-icon>
    </button>
  </div>
  <app-field-preview [field]="field()"></app-field-preview>
</div>
